@model IEnumerable<WebAPI.Models.TeDhenatEporosi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QmimiTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SasiaPorositur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPorosiaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProduktiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodiZbritjesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QmimiTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SasiaPorositur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPorosiaNavigation.IdPorosia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduktiNavigation.ProduktiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodiZbritjesNavigation.Kodi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetajet">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetajet">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetajet">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
